header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* los 3 elementos del contenedor ocupen el mismo espacio */
.header-container-img-left{
    flex: 1 1 calc(30% - 20px);
    max-width: calc(27% - 20px);
}

.image-header-left{
    width: 100%;
    padding-bottom: 1rem;
}

.header-container-information{
    flex: 1 1 calc(30% - 20px);
    max-width: calc(30% - 20px);
    margin: 10px;
}

.img-header-right{
    flex: 1 1 calc(30% - 20px);
    max-width: calc(27% - 20px);
    padding-top: 4rem;
}
/* ---------------------------- */

h1{
    font-size: 4rem;
    font-weight: 900;
}

.header-information{
    color: var(--color-slate-600, #87879D);
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button1{
    max-width: 10.06rem;
    width: 100%;
    height: 3rem;
    color: var(--color-white, #FAFAFA);
    font-weight: 900;
    border: none;
    background: var(--color-cyan-600, #4D96A9);
    border-radius: 29px;
}

.button-span-1{
    color: var(--cyan-300);
    margin-left: 0.2rem
}

.button2{
    max-width: 9.06rem;
    width: 100%;
    height: 3rem;
    color: var(--color-white, #FAFAFA);
    font-weight: 900;
    border: none;
    background: var(--color-purple-600, #855FB1);
    border-radius: 29px;
}


@media (width < 1000px){
    
    header{
        flex-direction: column;
        gap: 0;
    }

    .header-container-img-left{
        max-width: 100%;
    }

    .image-header-left{
        max-width: 100%;
    }

    .header-container-information{
        max-width: 60%;
    }

    h1{
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .img-header-right{
        display: none;
    }
}


@media (width < 400px){

    .header-container-information{
        max-width: -webkit-fill-available;
    }

    h1{
        font-size: clamp(1rem, 1vw + 3rem, 2.8rem);
        padding-left: 1rem;
        padding-right: 1rem;
        overflow: auto;
    }

    .header-information{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .button-container{
        flex-direction: column;
        align-items: center;
    }
}
